@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<hr>
<form>
    <label for="userID">User ID:</label>
    <input type="text" id="userID" name="userID"><br><br>
    <label for="role">Desired Role:</label>
    <input type="text" id="role" name="role"><br><br>
    <input type="submit" value="Submit">
</form>

<p>Use this area to provide additional information.</p>
